<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>MoviesServlet</servlet-name>
  	<display-name>MoviesServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.MoviesServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MovieServletDeleteOrCreate</servlet-name>
  	<display-name>MovieServletDeleteOrCreate</display-name>
  	<description></description>
  	<servlet-class>servlets.MovieServletDeleteOrCreate</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MovieCreateServlet</servlet-name>
  	<display-name>MovieCreateServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.MovieCreateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>MoviesServlet</servlet-name>
  	<url-pattern>/MoviesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MovieServletDeleteOrCreate</servlet-name>
  	<url-pattern>/MovieServletDeleteOrCreate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MovieCreateServlet</servlet-name>
  	<url-pattern>/MovieCreateServlet</url-pattern>
  </servlet-mapping>
</web-app>
